h1{
	color: white ;
	background-color: green;
   	width: 500px;
   	border: 1px solid black;
	font-size: 110%;
	font-family: "poppins", "Georgia", Serif;
	text-align: center;
}

#footer
	color: white ; 
	background-color: green;

p{
	color: blue ;
   	width: 500px;
   	border: 1px solid black;
	font-size: 95%;
	font-family: "poppins", "Georgia", Serif;
	text-align: center;
}
