h1{
	color: white;
   	width: 500px;
   	border: 1px solid black;
	font-size: 95%;


#footer
	color: white ; 
	background-color: green;

h2 font-family: "Times New Roman", "Georgia", Serif; 
}